.photo-grid { 
  padding: 95px 53px 89px 43px; 
  max-width: 1184px;  
  display: grid; 
  gap: 16px; 
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); 
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-gap: 14px;
    padding: 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-gap: 16px;
    padding: 88px 24px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-gap: 12px;
    padding: 64px 16px;
  }
}
