@import url(./vendor/fonts.css);


.root {
 background-color: #2A2C2F;

}

.page {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  color:  #fff;
  font-family: 'Inter', 'arial', san-serif;
  margin: 0 auto;
}

.header {
 margin: 0 auto;
 padding: 28px 0 0 0;
 max-width: 1184px;
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
}


.header__logo {
 max-width: 176px;
 max-height: 52px;
}


.header__lang {
 padding: 0;
 margin: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 list-style-type: none;
}

.header__lang-item {
 margin-right: 18px;

}

.header__lang-item:last-child {
 margin: 0;
}


.header__lang-link {
 font-size: 24px;
 line-height: 28px;
 font-weight: normal;
 font-size: normal;
 text-align: end;
 text-align: right;
 text-decoration: none;
 color: inherit;
 
}

.header__lang-link_active {
 text-decoration-line: underline;
}

.header__lang-link:hover {
 opacity: .8; 
}


.lead {
 margin: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 56px 148px 92px;
 max-width: 984px;
}


.lead__tittle {
 max-width: 720px;
 margin: 0 0 32px;
 font-weight: 900;
 font-size: 96px;
 text-align: center;
 line-height: 100px;
 font-style: normal;

}

.lead__subtittle {
 align-items: center;
 font-weight: normal;
 font-size: 30px;
 line-height: 36px;
 text-align: center;
 font-style: normal;
 max-width: 640px;
 margin: 0 0 64px;
}

.lead__image {
 width: 100%;
 margin: 0 0 8px;
}

.lead__caption { 
 margin: 0;
 align-self: flex-start;
text-transform: uppercase;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 14px;
letter-spacing: 1.5px;
text-transform: uppercase;
}


.intro {
max-width: 690px;
margin: 0 0 0 148px;
}

.intro__tittle {
 margin: 0 0 40px;
 font-style: normal;
 font-weight: 900;
 font-size: 54px;
 line-height: 58px;

}


.intro__text {
 margin: 0 0 33px;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 163%;
}


.intro__list{
 margin: 0; 
 padding: 0;
 font-style: normal;
 font-weight: bold;
 font-size: 12px;
 line-height: 18px;
 list-style: none;
}

.intro__item {

}

.intro__item-span {
font-weight: normal;
    
}

.photo-grid {
 padding: 95px 53px 89px 43px;
 max-width: 1184px; 
 display: grid;
 gap: 16px;
 grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

.photo-grid__item {
 max-width: 284px;
}
 



.places {
    margin: 0 auto;
    padding: 0;
    max-width: 984px; 
}



.place {
 display: grid;
 grid-template-areas: 
 "title url"
 "image text";
 grid-column-gap: 40px;
 grid-row-gap: 48px;
 margin: 0 0 80px;
 grid-template-columns: 460px;


}

.place__title {
font-style: Black;
font-size: 72px;
line-height: 76px;
line-height: 87%;
/*align: Left;
vertical-align: top;*/
}


.place__image {
width: 460px;
height: 460px;
}

.place__website{
width: 456px;
padding: 117px 176px 48px 40px;
}

.place__url-heading{
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
  /*  border: 1px solid red;*/

}


.place__link {
text-decoration-line: underline;
font-weight: normal;
font-style: normal;
font-size: 18px;
line-height: 22px;
text-decoration: underline;
color: inherit;
}

.place__text {

}

.place__paragraph {
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
}

.cover {
margin: 0 auto;
max-width: 1184px;
min-height: 740px;
background-image: url(./images/cover-trains.jpg);
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}


.cover__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/__overlay.png);
    width: 100%;
    height: 740px;

}
.cover:hover .overlay {
    padding: 0;
    box-sizing: border-box;
    background-image: url(./images/__overlay2.png)
    background-position: center;
    background-size: cover;
    
  }
  

.cover__title {
padding: 0;
margin: 0;
max-width: 560px;
min-height: 152px;
font-family: 'Inter';
font-style: normal;
font-size: 72px;
font-weight: 900;
line-height: 76px;

text-align: center;
border: 1px solid red;
}

.cover__subtitle {
max-width: 360px;
min-height: 66px;
font-family: 'Inter';
font-style: normal;
font-size: 18px;
font-weight: normal;
line-height: 22px;

text-align: center;
border: 1px solid red
}









.footer{

}

.footer__links{

}

.footer__link{

}

.footer__copyright{

}



/* text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
*/