@import url(./vendor/fonts.css);


.root {
 background-color: #2A2C2F;

}

.page {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  color:  #fff;
  font-family: 'Inter', 'arial', san-serif;
  margin: 0 auto;
}

.header {
 margin: 0 auto;
 padding: 28px 0 0 0;
 max-width: 1184px;
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
}


.header__logo {
 max-width: 176px;
 max-height: 52px;
}


.header__lang {
 padding: 0;
 margin: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 list-style-type: none;
}

.header__lang-item {
 margin-right: 18px;

}

.header__lang-item:last-child {
 margin: 0;
}


.header__lang-link {
 font-size: 24px;
 line-height: 28px;
 font-weight: normal;
 font-size: normal;
 text-align: end;
 text-align: right;
 text-decoration: none;
 color: inherit;
 
}

.header__lang-link_active {
 text-decoration-line: underline;
}

.header__lang-link:hover {
 opacity: .8; 
}


.lead {
 margin: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 56px 148px 92px;
 max-width: 984px;
}


.lead__tittle {
 max-width: 720px;
 margin: 0 0 32px;
 font-weight: 900;
 font-size: 96px;
 text-align: center;
 line-height: 100px;
 font-style: normal;

}

.lead__subtittle {
 align-items: center;
 font-weight: normal;
 font-size: 30px;
 line-height: 36px;
 text-align: center;
 font-style: normal;
 max-width: 640px;
 margin: 0 0 64px;
}

.lead__image {
 width: 100%;
 margin: 0 0 8px;
}

.lead__caption { 
 margin: 0;
 align-self: flex-start;
text-transform: uppercase;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 14px;
letter-spacing: 1.5px;
text-transform: uppercase;
}


.intro {
max-width: 690px;
margin: 0 0 0 148px;
}

.intro__tittle {
 margin: 0 0 40px;
 font-style: normal;
 font-weight: 900;
 font-size: 54px;
 line-height: 58px;

}


.intro__text {
 margin: 0 0 33px;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 163%;
}


.intro__list{
 margin: 0; 
 padding: 0;
 font-style: normal;
 font-weight: bold;
 font-size: 12px;
 line-height: 18px;
 list-style: none;
}


.intro__item-span {
font-weight: normal;
    
}

.photo-grid {
 padding: 95px 53px 89px 43px;
 max-width: 1184px; 
 display: grid;
 gap: 16px;
 grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

.photo-grid__item {
 width: 100%;
}
 



.places {
 margin: 0 auto;
 padding: 0;
 max-width: 984px; 
 display: flex;
 flex-direction: column;
}



.place {
 display: grid;
 grid-template-areas: 
 "title url"
 "image text";
 grid-column-gap: 40px;
 grid-row-gap: 48px;
 margin: 0 0 80px;
 grid-template-columns: 460px 1fr;

}

.place__title {
 margin: 0;
 font-style: Black;
 font-size: 72px;
 line-height: 76px;
 grid-area: title;
 font-weight: 900;
}


.place__image {
max-width: 100%;
grid-area: image;
}

.place__website{
 align-self: end;
 grid-area: url;
}

.place__url-heading {
 font-style: normal;
 font-size: 12px;
 line-height: 12px;
 letter-spacing: 2px;
 font-weight: normal;
 color: #AAA;
 text-transform: uppercase;

}

.place__link {
text-decoration-line: underline;
font-weight: normal;
font-style: normal;
font-size: 18px;
line-height: 22px;
color: inherit;

}

.place__link:hover {
  opacity: .8  
}


.place__text {
grid-area: text;
}

.place__paragraph {
 margin: 0 0 26px;
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 163%;
}

.cover {
margin: 0 48px 92px;
max-width: 1184px;


}

.cover__overlay {
min-height: 740px;
width: 100%;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: url("./images/__background.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: #fff;
text-decoration: none;
position: relative;
z-index: 0;
}

.cover__overlay::after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2A2C2F ;
    opacity:.3 ;
    z-index: -1;
}

.cover__overlay:hover::after {
 opacity: .8;
}

.cover__title {
 margin: 0 ;
 max-width: 560px;
 font-size: 72px;
 font-style: normal;
 font-weight: 900;
 line-height: 76px;
 letter-spacing: 0em;
 text-align: center;
 
}

.cover__subtitle {
margin: 0;
margin-top: 36px ;
 max-width: 360px;  
 font-size: 18px;
 font-style: normal;
 font-weight: normal;
 line-height: 22px;
 text-align: center;
}


.footer {
    margin: 0 auto;
padding-bottom: 24px;
display: flex;
justify-content: space-between;
max-width: 1184px;
color: #fff;
}

.footer__links {
 display: flex;
 text-decoration: none;
 list-style: none;
 padding: 0;
 margin: 0;
}

.footer__item {
 margin-right: 18px;   

}

.footer__link {
color: inherit;
text-decoration: none;

}

.footer__item:last-child {
  margin-right: 0;  
}


.footer__coopyright {
margin: 0;
}

@media screen and (max-width: 1024px) {
 .header {
  max-width: 928px;
 }
}




/* text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
*/