.lead__title { 
  max-width: 720px; 
  margin: 0 0 32px; 
  font-weight: 900; 
  font-size: 96px; 
  text-align: center; 
  line-height: 100px; 
  font-style: normal; 
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .lead__title {
    max-width: 350px;
    margin: 0 0 16px;
    line-height: 46px;
    font-size: 42px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 44px;
  }
}