.cover__overlay { 
  min-height: 740px; 
  width: 100%; 
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-image: url("../../../images/__background.jpg");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  color: #fff; 
  text-decoration: none; 
  position: relative; 
  z-index: 0; 
}

.cover__overlay::after { 
  content: " "; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  left: 0; 
  top: 0; 
  background-color: #2A2C2F ; 
  opacity:.3 ; 
  z-index: -1; 
} 

.cover__overlay:hover::after { 
  opacity: .8; 
 } 

 @media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 470px) {
  .cover__overlay {
    min-height: 380px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}